<?xml version="1.0"?>
<launch>

    <include file="$(find study_pkg)/launch/tb3_gazebo_start.launch">
    </include>

        
    <!-- Start Rviz with default setup -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find study_pkg)/rviz/tb3_slam.rviz"/>


    <include file="$(find study_pkg)/launch/gmapping.launch">
    </include>

    <!-- Можно написать свой launch с запуском узла, но так как нет никаких настроек - оставим -->
    <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"  output="screen">
    </node>
</launch>